<app-header></app-header>


<section class="container">
   <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px; margin-bottom:30px;">
      <p style=" font-size: 50px;"><strong>ARTE DE PESCA</strong></p>
      <div>
      </div>
   </div>
   <div class="order_boxes">
      <div class="row">
         <div class="col-lg-6 col-lx-4">
            <div class="text-white p-1 text-center" style="background-color: #4D5FAB;">
               LISTA DE ARTE DE PESCA
            </div>
            <div>
               <table class="table"  style="text-transform: uppercase;">
                  <tr *ngFor="let pesca of data ; let iControl = index">
                     <td>{{pesca.id}}</td>
                     <td>{{pesca.NombreArtePesca}}</td>
                     <td>
                        <a type="button"><i class="bi bi-pen"></i></a>
                        <a type="button" (click)="borrar(pesca.id, iControl)"><i class="bi bi-trash" style="margin-left: 6%;"></i></a>
                    </td>
                  </tr>
               </table>
            </div>
         </div>
         <div class="col-lg-6 col-lx-4">
            <div class="text-white p-1 text-center" style="background-color: #4D5FAB;">
               AGREGAR ARTE DE PESCA
            </div>
            <form class="row formularyborder" [formGroup]="FormArte" (submit)="enviar()" ngNativeValidate>
               <div class="row formularyborder">


                  <div class="col-md-12 marginput">
                     <div class="form-group">
                        <label class="control-label textoInput">NOMBRE:</label>
                        <input formControlName="NombreArtePesca" type="text" required class="form-control required"
                           style="text-transform: uppercase;">
                        <p class="vacio" id=""></p>
                     </div>
                  </div>

               </div>


               <div class="row">
                  <div class="col-md-12">
                     <div class="d-flex justify-content-end  " style="margin-bottom: 50px;">
                        <button class="btn btn-default botones" (click)="cancelar()" type="button " height="40px;"
                           style="background-color: rgb(110, 109, 109); color:white;">Cancelar</button>
                        <button class="btn  botones" style="background-color: brown; color:white;">Guardar</button>

                     </div>
                  </div>
               </div>
            </form>
         </div>

      </div>
   </div>
</section>





<app-footer></app-footer>