<app-header></app-header>
<div class="d-flex justify-content-between " style="margin-top:20px; margin-left:20px;" >
    <div class="d-flex" >
      <i class="bi bi-house-door" style="font-size: 22px;"></i>
      <i class="bi bi-chevron-right" style="font-size: 22px;"></i>
      <p style="font-family: 'Montserrat';font-size: 22px; " ><a href="panel" style="text-decoration:none">Panel</a></p>
      <i class="bi bi-chevron-right" style="font-size: 22px;"></i>
     <p style="font-family: 'Montserrat';font-size: 22px; "><a href="municipios" style="text-decoration:none">Municipios</a></p>
     
    </div>
    <a href="#"   style="font-family: 'Montserrat';font-size: 22px; color:blue; margin-right:15px;">Manual de usuario</a>
  
  </div>

<section class="container">
    <form [formGroup]="formuMuni" (ngSubmit)="put()" ngNativeValidate>
        <div class="form-group">
            <label for="exampleFormControlInput1">Nombre de Municipio</label>
            <input type="text" required class="form-control" formControlName="NombreMunicipio"
            style="text-transform: uppercase;" [(ngModel)]="datosMunicipio.NombreMunicipio">
        </div>
        <div class="form-group">
            <label class="control-label textoInput">Nombre del Distrito:</label>
            <select class="form-select "  id="" name="Disid" formControlName="Disid" [(ngModel)]="datosMunicipio.Disid"
               #Disid>
               <option *ngFor="let distrito of distritos" [value]="distrito.id">{{ distrito.NombreDistrito}}
               </option>
            </select>
         </div>
         <div class="form-group">
            <label class="control-label textoInput">Nombre de Regiones:</label>
            <select class="form-select " id="" name="Regid" formControlName="Regid" [(ngModel)]="datosMunicipio.Regid"
               #Regid>
               <option *ngFor="let regione of regiones" [value]="regione.id">{{ regione.NombreRegion}}
               </option>
            </select>
         </div>
        <br>
        <div class="row">
            <div class="col-md-lg">
                <div class="d-flex justify-content-end  " style="margin-bottom: 50px;">
                    <button class="btn btn-default " type="button " height="40px;"
                        style="background-color: rgb(110, 109, 109); color:white; margin-right: 20px;">Cancelar</button>
                    <button class="btn  " style="background-color: brown; color:white;">Guardar</button>

                </div>
            </div>
        </div>


    </form>
</section>
<app-footer></app-footer>